/* Your styles.css or styles.scss */

.search-container {
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  box-sizing: border-box;
  width: 50rem;
  height: 4rem;
  border: 0.3rem solid rgb(32, 32, 32);
  border-radius: 10rem;
  box-sizing: border-box;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.search-icon {
  position: absolute;
  font-size: 2rem;
  right: 17rem;
  cursor: pointer;
}

.autocomplete-list {
  box-sizing: border-box;
  width: 48rem;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px;
  position: absolute;
  top: 3rem;
  overflow-y: auto;
  z-index: 1;
}

.autocomplete-item {
  box-sizing: border-box;
  padding: 0rem 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-icon2 {
  margin-right: 1rem;
}
