.yellow-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 247, 220) 20rem,
    white 0%
  );
}

.bannerArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bannerContent {
  box-sizing: border-box;
  width: 80rem;
  height: 43rem;
  padding: 0rem 1rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bannerTitleBox {
  box-sizing: border-box;
  display: block;
  width: 43rem;
  height: 100%;
  padding: 17rem 0rem;
}

.bold-text-main {
  padding: 0.5rem 0rem;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.sub_title {
  box-sizing: border-box;
  max-height: 8rem;
  padding: 1rem 0rem;
  display: block;
  font-size: 23px;
  font-weight: 700;
  color: #00000a;
  word-break: keep-all;
  overflow-wrap: break-word;
  overflow: hidden;
}

.bold-title {
  box-sizing: border-box;
  display: block;
  height: 6rem;
  font-weight: bold;
  font-size: 35px;
  word-break: keep-all;
  overflow-wrap: break-word;
  overflow: hidden;
}

.festival-status {
  box-sizing: border-box;
  width: 9rem;
  height: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.banner_date {
  box-sizing: border-box;
  padding: 1rem 0rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.like-button {
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.festivalContentArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.festivalContentBox {
  box-sizing: border-box;
  width: 80rem;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.festival-image {
  box-sizing: border-box;
  display: inline-block;
  width: 25rem;
  height: 23rem;
  object-fit: cover;
  object-position: center;
  margin: 0rem 0.8rem;
}

.content-container {
  box-sizing: border-box;
  padding-top: 1rem;
  font-size: 1.4rem;
}

.festival-description {
  word-break: keep-all;
  overflow-wrap: break-word;
}

.information {
  font-size: 1.6rem;
}

.mapArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mapBox {
  box-sizing: border-box;
  width: 80rem;
  padding-bottom: 8rem;
}

.mapContainer {
  box-sizing: border-box;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.poster-image {
  display: inline-block;
  width: 30rem;
  height: 40rem;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 설정 */
}

.close-button1 {
  position: absolute;
  top: 0rem;
  right: 0.1rem;
  font-size: 3rem;
  color: rgb(24, 52, 123);
}

.close-button2 {
  position: absolute;
  top: 0rem;
  right: 0.1rem;
  font-size: 3rem;
  color: rgb(24, 52, 123);
}

.modalMap {
  width: 99%;
  height: 99%;
}

.imageModalWrapper {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 60rem;
  height: 30rem;
  position: relative;
}
