/* Tab_Winter.css */

.winter-tab-menu {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-bottom: 7rem;
    margin-top: 10px;
    margin-left: 100px; 
    margin-right: 100px; 
  }
  
  .winter-submenu {
    display: flex;
    width: calc(100% / 4); /* Updated to 4 tabs */
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 0px 0px 0px 0px;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .winter-submenu:nth-child(1),
  .winter-submenu:nth-child(2),
  .winter-submenu:nth-child(3),
  .winter-submenu:nth-child(4) {
    border: 2px solid  rgb(182, 216, 246);
  }
  
  .winter-submenu.active {
    background-color: rgb(206, 220, 255); /* Background color for the active tab */
  }
  
  /* 마우스 커서 올라가면 색 진해짐 */
  .winter-submenu:hover {
    background-color: rgb(182, 216, 246);
  }
  
  /* 마우스 커서 올라가면 색 진해짐 */
  
  .winter-desc {
    text-align: center;
  }
  
  .winter-festival-card {
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
  }
  
  .winter-festival-card img {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .overlay p {
    color: white;
  }
  
  .winter-festival-card:hover .overlay {
    opacity: 1;
  }
  