/* Tab_Winter.css */

.centerContainerTabWinter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem;
  background-image: linear-gradient(
    to bottom,
    rgb(206, 220, 255) 2rem,
    white 0%
  );
}
.winter-tab-menu {
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 7rem;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.winter-submenu {
  display: flex;
  width: calc(100% / 10);
  padding: 15px;
  margin: 10px;
  font-size: 19px;
  transition: 0.5s;
  border-radius: 50px;
  border: 7px solid white;
  cursor: pointer;
}

.winter-submenu.active {
  background-color: rgb(206, 220, 255);
}

/* 마우스 커서 올라가면 색 진해짐 */
.winter-submenu:hover {
  background-color: rgb(182, 216, 246);
}

/* 마우스 커서 올라가면 색 진해짐 */

.winter-desc {
  text-align: center;
}

.winter-festival-card {
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
}

.winter-festival-card img {
  width: 200px;
  height: 200px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.overlay p {
  color: white;
}

.winter-festival-card:hover .overlay {
  opacity: 1;
}
