.currentpopularity {
  width: 80rem;
}

.popularityContain {
  display: inline-block;
  background-color: rgb(206, 220, 255);
  padding: 0.5rem;
  border-radius: 20px;
}

.festivalSimpleContainer {
  box-sizing: border-box;
  height: 68rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem 1rem;
}

.popularityregion {
  font-weight: 1000;
  font-size: 1.7rem;
}
.regionDes {
  font-weight: 550;
  font-size: 1.4rem;
}
